main{
    height: 100%;
}

.main-section{
    height: 100%;
    background-color: whitesmoke;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.container__content p, .container__content a{
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}
.container__content {
    display: flex;
    flex-direction: column;
}

.container__content a{
    text-decoration: none;
    color: lightgreen;
    text-align: center;
}

.container__content ul {
    align-items: center;
    align-self: center;
    width: max-content;
    flex-direction: column;
}
.container__content ul li {
    width: max-content;
    text-align: center;
}

.container__content ul a{
    transition: 150ms ease-in-out all;
}
.container__content ul a:hover{
    font-size: 2rem;
}

